/config.ini
*.bak
*.old
*.orig
*.save
*.tmp

/run/*
!/run/.gitkeep
/logs/*
!/logs/.gitkeep
/cache/*
!/cache/stats/
!/cache/echolink/
/cache/stats/*
!/cache/stats/.gitkeep
/cache/echolink/*
!/cache/echolink/.gitkeep
